!!!5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
%html.no-js
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title= page_title
    %meta{:content => page_description, :name => "description"}
    %meta{:content => "width=device-width", :name => "viewport"}
    %link{:rel => "author", :name => "humans.txt"}
    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Patua+One", :type => "text/css"}
    = stylesheet_link_tag "site"
    = javascript_include_tag "modernizr/modernizr"
  %body

    %div{:class => "main", :role => "main"}
      = yield

    %footer
      .wrapper

        .buy
          = partial "partial/buybutton"

        .newsletter
          .title
            Never miss a new update again

          %form#mailchimpform
            %input#mc-email{placeholder: "email", type: "email"}
            %button{type: "submit"} Submit

            %label{for: "mc-email"}

      .wrapper
        .info
          .madeby
            Spriteowl is made by
            %a{title: "We Are Interactive", href: "http://www.weareinteractive.com", class: "wjds"} We Are Interactive

    :javascript
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));

      <!-- UserVoice -->
      (function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/sHUfZzRbekUSUXtnzYwCdA.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()

    %script{:src => "https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"}
    = javascript_include_tag "site"
