!!!5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
%html.no-js
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width", :name => "viewport"}
    %title= page_title
    %meta{:content => data.site.version, :name => "version"}
    %meta{:content => page_description, :name => "description"}
    %link{ rel: "apple-touch-icon", sizes: "144x144", href: "/apple-touch-icon-144x144-precomposed.png" }
    %link{ rel: "apple-touch-icon", sizes: "120x120", href: "/apple-touch-icon-120x120-precomposed.png" }
    %link{ rel: "apple-touch-icon", sizes: "114x114", href: "/apple-touch-icon-114x114-precomposed.png" }
    %link{ rel: "apple-touch-icon", sizes: "72x72", href: "/apple-touch-icon-72x72-precomposed.png" }
    %link{ rel: "apple-touch-icon", sizes: "57x57", href: "/apple-touch-icon-57x57-precomposed.png" }
    %link{ rel: "apple-touch-icon", href: "apple-touch-icon-precomposed.png" }
    %link{ rel: "shortcut icon", href: "favicon.png" }
    %link{ rel: "icon", type: "image/ico", href: "favicon.ico" }

    = javascript_include_tag "modernizr"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Patua+One", "site"
    = google_analytics_tag

  %body{:class => page_classes}

    %header
      = partial "partials/topbar"
      = partial "partials/head"

    #main
      = yield

    %footer
      .container
        .row
          .col-sm-6.col-md-7.col-xs-12.buy
            = partial "partials/buybutton"
            .title.hidden-xs.hidden-sm
              Save time, work faster!

          .col-sm-6.col-md-5.col-xs-12.newsletter
            .title
              Never miss an update again!
            %form#mailchimpform
              %input#mc-email{placeholder: "Your E-Mail address", type: "email"}
              %button{type: "submit"} Subscribe
              %br
              %label{for: "mc-email"}

        .row.info
          .col-xs-12.col-sm-6
            .twitter
              %a{href: "https://twitter.com/share", class: "twitter-share-button", data: {:count => "horizontal", :text => "Spriteowl", :via => "Owl_Stars", :url => "http://spriteowl.owl-stars.com/"}} Tweet
          .col-xs-12.col-sm-6
            .madeby
              Owl-Stars is made by
              %a{title: "We Just Do Stuff", href: "http://www.wejustdostuff.com", target: "_blank", class: "wjds"} We Just Do Stuff


    = javascript_include_tag "main"

    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");


