---
title: Documentation
---

.section.cinema
  .container
    .col-xs-12.info
      %h2.title Spriteowl explained

.section.benefits
  .container
    .row
      .col-xs-12.col-md-10.col-md-offset-1.intro
        %h2 The benefits in detail

        %p.introText
          Writing Css code for a Sprite Image can be a quite <strong>time consuming job as you always need to measure or look up each element's x, y, width and height</strong>. And if elements change, you need to go through your whole code to see where it needs to be updated.
          Wouldn't it be great if you could just forget about all this and let it someone else handle it? <strong>Well, lucky you, that's where Spriteowl comes in.</strong>

    .row
      .col-sm-4
        %h3.title
          What you get
        %p.content
          With Spriteowl you will not just get an <strong>optimized Png</strong> of your Photoshop Sprite File, you also get a Stylesheet which contains each <strong>Layer's position (x/y) and dimension (width/height)</strong>.

      .col-sm-4
        %h3.title
          Preprocessors support
        %p.content
          When selecting one of the Preprocessors <strong>Less, Sass/Scss or Stylus</strong> you will get a Stylesheet as well as useful mixins from the <strong>#{link_to 'Cssowl\'s Sprite Package', 'http://cssowl.owl-stars.com/sprite.html', :target => '_blank'}</strong> with a lot of functions to position your sprite elements.

      .col-sm-4
        %h3.title
          Namespace support
        %p.content
          Spriteowl uses namespaces for bring your sprite elements into your Html, so you be no longer worry about position changes of your sprite elements in the original Psd file.

.section.bgDark.howto
  .container

    .no-spriteowl
      .row
        .col-xs-12.col-md-8.col-md-offset-2.intro
          %h2 This is the usual process of working with Sprites and Css

      .row
        .col-sm-3
          .box
            .arrow
            %img.teaserImg{src: "assets/img/content/howto/how1.png"}
            %h3.title Photoshop
            %p.content Create a Sprite Psd

        .col-sm-3
          .box
            .arrow
            %img.teaserImg{src: "assets/img/content/howto/no-how2.png"}
            %h3.title Export Image
            %p.content Export the Sprite Image


        .col-sm-3
          .box
            .arrow
            %img.teaserImg{src: "assets/img/content/howto/no-how3-boring.png"}
            %h3.title Measure
            %p.content Look up each element


        .col-sm-3
          .box
            %img.teaserImg{src: "assets/img/content/howto/no-how4.png"}
            %h3.title Code
            %p.content Write Css code

    .yes-spriteowl
      .row
        .col-xs-12.col-md-8.col-md-offset-2.intro
          %h2
            And here is the Spriteowl way
      .row
        .col-sm-4
          .box
            .arrow
            %img.teaserImg{src: "assets/img/content/howto/how1.png"}
            %h3.title Photoshop
            %p.content Place your elements and name your Groups and Layers

        .col-sm-4
          .box
            .arrow
            %img.teaserImg{src: "assets/img/content/howto/yes-how2-magic.png"}
            %h3.title Spriteowl
            %p.content Choose your export options and let the magic happen!

        .col-sm-4
          .box
            %img.teaserImg{src: "assets/img/content/howto/yes-how3.png"}
            %h3.title Css, Less, Sass/Scss, Stylus + Png
            %p.content Import the generated Stylesheet + Png files into your project

.section.settings
  .container
    .row
      .col-xs-12.col-md-8.col-md-offset-2.intro
        %h2 The Extension

    .row
      .col-sm-6
        .teaserImg
          %img{src: "assets/img/content/spriteowl-extension.png"}

      .col-sm-6
        %ul
          %li
            %strong Syntax:
            %br
            Select the output syntax. We support Css, Less, Sass/Scss and Stylus.

          %li
            %strong Optimize:
            %br
            Switch it on and Spriteowl will trim and posterize the output Png.

          %li
            %strong Export:
            %br
            Click and choose the location where to save the Stylesheet + Png.


.section.bgDark.example
  .container
    .row
      .col-xs-12.col-md-8.col-md-offset-2.intro
        %h2 A simple walktrough

        %p.introText
          Probably the best way to explain you how to use Spriteowl is to give you a simple walkthrough.

    .row
      .col-sm-6
        .nr
          1.
        .content
          %h3
            Photoshop
          %p
            Before you can export your sprite, please <strong>place your elements</strong> and <strong>name your Groups and Layers</strong>.
            %br
            %br
            %strong Note:
            %br
            You'll need at least one top level Group as Spriteowl will export each top level Group as a separate Sprite.
            Groups and Layers should be named according to class names in html since you will use them later on in your Stylesheet.
            %br
            %br

      .col-sm-6
        .teaserImg
          %img{src: "assets/img/content/example/psd-layers.png"}

    .row
      .col-sm-6
        .nr
          2.
        .content
          %h3
            Export
          %p
            Now its time to export your Psd.
            %br
            %br
            Choose your "<strong>Syntax</strong>", whether you want to "<strong>Optimize</strong>" the Png or not, click "<strong>Export</strong>" and choose a destination folder.
            %br
            After the export you'll find two files: a Png and a Stylesheet.
            If you look into the Stylesheet you will see how Spriteowl generated the classes and mixins depending on your Syntax and according to the Layer and Group structure of your Sprite Psd.
            %br
            %br
            %strong Note:
            %br
            Don't forget to download the #{link_to 'Cssowl\'s Sprite Package', 'http://cssowl.owl-stars.com/sprite.html', :target => '_blank'}
            %br
            %br

      .col-sm-6
        .teaserImg
          %img{src: "assets/img/content/spriteowl-extension.png"}

    .row
      .col-sm-6
        .nr
          3.
        .content
          %h3
            How to use it
          %p
            Import your Stylsheet and the #{link_to 'Cssowl\'s Sprite Package', 'http://cssowl.owl-stars.com/sprite.html', :target => '_blank'} into your project and position your Sprite Elements with the Cssowl mixins.
            %br
            %br
            <strong>Here are a few examples with the Html and Preprocessor code on the right:</strong>
            %br
            %br
            .codeexample
              .example1.box
                .pacman
                .coffe
                .heart
                Example 1 - display()
              .example2.box
                .pacman
                Example 2 - float-left( 10px, 0 )
              .example3.box
                Example 3 - after-absolute-inside( top, center )

      .col-sm-6

        .tabbox

          %ul.nav.nav-tabs
            %li.active.htmltab
              %a{"data-toggle" => "tab", href: "#htmlcode"} Html
            %li
              %a{"data-toggle" => "tab", href: "#lesscode"} Less
            %li
              %a{"data-toggle" => "tab", href: "#sasscode"} Sass
            %li
              %a{"data-toggle" => "tab", href: "#scsscode"} Scss
            %li
              %a{"data-toggle" => "tab", href: "#styluscode"} Stylus


          .tab-content
            #htmlcode.tab-pane.active.code
              = preserve do
                -code("html") do
                  :plain

                    <div class="codeexample">

                      <div class="example1 box">
                        <div class="pacman"></div>
                        <div class="coffe"></div>
                        <div class="heart"></div>
                        Example 1 - display()
                      </div>

                      <div class="example2 box">
                        <div class="pacman"></div>
                        Example 2 - float-left( 10px, 0 )
                      </div>

                      <div class="example3 box">
                        Example 3 - after-absolute-inside( top, center )
                      </div>


            #lesscode.tab-pane.code
              = preserve do
                -code("less") do
                  :plain

                    asdf

            #sasscode.tab-pane.code
              = preserve do
                -code("sass") do
                  :plain

                    .codeexample

                      .box
                        padding: 10px
                        margin: 20px 0

                      .example1
                        >.pacman
                          @include examplesprite-icon-pacMan-display-inline()
                        >.coffe
                          @include examplesprite-icon-coffe-display-inline()
                        >.heart
                          @include examplesprite-logo-heart-display-inline()

                      .example2
                        >.pacman
                          @include examplesprite-icon-pacMan-float-left(10px,0)

                      .example3
                        text-align: center
                        padding-top: 25px
                        @include examplesprite-icon-coffe-after-absolute-inside(top, center)

            #scsscode.tab-pane.code
              = preserve do
                -code("scss") do
                  :plain

                    asdf


            #styluscode.tab-pane.code
              = preserve do
                -code("stylus") do
                  :plain

                    asdf

