---
title: Home
description:
---


%header.home
  = partial "partial/head"

  #cinema
    .wrapper
      .box
        %p.subtitle Save time, work faster
        %h2.title Export your Photoshop Sprites to Png and Css, Less, Sass/Scss or Stylus Code
        = partial "partial/buybutton"

      .box.cinemaImg
        %img{src: "assets/img/cinema/spriteowl-extension-colors.png"}

.section
  .wrapper.howto
    %h2 What Spriteowl does

    %p.introText
      <strong>Spriteowl is a Photoshop Extension</strong> that takes over the boring part when working with <strong>#{link_to 'Sprites', 'http://en.wikipedia.org/wiki/Sprite_%28computer_graphics%29#Sprites_by_CSS', :target => '_blank'}</strong> and <strong>Css</strong>.
      For more details on how can save you a lot of time, check out the <strong>#{link_to 'Documentation', '/documentation.html'}</strong>.

    .box
      %img.teaserImg{src: "assets/img/content/how1.png"}
      %h3.title Photoshop
      %p.content Place your elements and name your groups and layers

    .box.arrows
      %img.teaserImg{src: "assets/img/content/how2.png"}
      %h3.title Spriteowl
      %p.content Choose your export options and let the magic happen!

    .box.last
      %img.teaserImg{src: "assets/img/content/how3.png"}
      %h3.title Css/Less/Sass/Stylus + Png
      %p.content Import the generated Code + Png file into your project

.section.bgDark
  .wrapper.features
    %h2 Spriteowl features

    .box.icon-heart
      %h3.title Save time
      %p.content Spriteowl retrieves all sprite element's x, y, widths and heights for you

    .box.icon-code
      %h3.title Preprocessor Support
      %p.content Spriteowl works with Less, Sass/Scss or Stylus

    .box.icon-settings.last
      %h3.title Handy Mixins
      %p.content Get mixins from the #{link_to 'Cssowl Sprite Package', 'http://cssowl.owl-stars.com' } for each layer

    .box.icon-ps
      %h3.title Platform support
      %p.content Spriteowl works on Mac & Windows for Photoshop CS6 & CC



-#.section
-#  .wrapper.quotes
-#    %h2 What others say about Spriteowl
-#
-#    .flexslider
-#      %ul.slides
-#        %li.slide
-#          %img.logoImg{src: "assets/img/content/clientDummy.png"}
-#          .slideText
-#            %p.quote Spriteowl has been the perfect addition to our workflow. It has allowed me to spend more time in Photoshop, doing what I love, while providing accurate results I can trust.
-#            %p.user Max Muster, Senoir Webdesigner
-#
-#        %li.slide
-#          %img.logoImg{src: "assets/img/content/clientDummy.png"}
-#          .slideText
-#            %p.quote Lorem ipsum dolor sit amet, consectetur adipiscing elit, set eiusmod tempor incidunt et labore et dolore magna aliquam.
-#            %p.user Max Muster, Senoir Webdeveloper
-#
-#        %li.slide
-#          %img.logoImg{src: "assets/img/content/clientDummy.png"}
-#          .slideText
-#            %p.quote Neque pecun modut est neque nonor et imper ned libidig met, consectetur adipiscing elit, sed ut labore et dolore magna aliquam is nostrud exercitation ullam mmodo consequet.
-#            %p.user Max Muster, Senoir Webdesigner
