---
title: Installation & FAQ
---

.section.cinema
  .container
    .col-xs-12.info
      %h2.title Spriteowl help

.section.install
  .container
    .row
      .col-xs-12.col-md-10.col-md-offset-1.intro
        %h2 How to install Spriteowl

        %p.introText
          To buy, download and install the Spriteowl Photoshop Extension, please follow this guide:

    .row
      .col-sm-7
        %ul
          %ol
            %li
              %p
                Buy the Spriteowl Photoshop Extension now for just <strong>$15</strong> safely via #{link_to 'Paypal', 'html://', :target => '_blank'}.
            %li
              %p
                Shortly after your purchase you will receive an email with a download link. Please download and unzip the file.
            %li
              %p
                Launch the <strong>Adobe Extension Manager</strong> (be sure to open the right version of Adobe Extension Manager CS6 or CC)
                %br
                %em
                  <strong>Windows Users:</strong> You may need to run the Adobe Extension Manager as Administrator (right-click the Adobe Extension Manager icon and select “Run as Administrator”).
            %li
              %p
                In the Adobe Extension Manager click "Install" an choose the correct version of the Spriteowl Photoshop Extension file (.zxp) then click "Ok" or "Open".
            %li
              %p
                You should now be able to find Spriteowl through the Adobe Photoshop menu at
                %br
                <strong>Window > Extensions > Spriteowl</strong>.

      .col-sm-5
        .teaserImg
          %img{src: "/assets/img/content/owls/tree-owl.png"}


.section.bgDark.faq
  .container
    .row
      .col-xs-12.col-md-10.col-md-offset-1.intro
        %h2 Frequently asked questions

        %p.introText
          Here are answers to some common questions about Spriteowl

    .row
      .col-xs-12
        .box.expandBox
          %h3.title
            The installation of Spriteowl has failed. I get an error from the Adobe Extension manager!
          .content
            %ul
              %li
                Be sure you have opened the right version of the Adobe Extension Manager! For the CC Photoshop Extension you will need to use the Adobe Extension Manager CC!
              %li
                Close Photoshop before you install the Extension with the Adobe Extension Manager

        .box.expandBox
          %h3.title
            How do I get Spriteowl updates?
          .content
            We are still working on Spriteowl and if we release a new version, we'll send you an email with a download link to the purchase e-mail you've given us.

        .box.expandBox
          %h3.title
            What do I get for my money?
          .content
            %ul
              %li
                You will get the Spriteowl Photoshop Extension for Photoshop CS6 & CC for Mac & Windows systems.
              %li
                A License for all your personal Computers.
              %li
                Free updates and bug fixes.

        .box.expandBox
          %h3.title
            What can Spriteowl do?
          .content
            Spriteowl is aimed to improve the Workflow between Designers and Developers.
            When implemented it will leverage the communication between the creation and editing of Sprite PSD files and the actual coding process.

        .box.expandBox
          %h3.title
            I lost my download link. What can I do?
          .content
            Please send us your purchase e-mail to #{mail_to 'support@owl-stars.com', 'support@owl-stars.com'} and we will send you your download link as soon as possible.

        .box.expandBox
          %h3.title
            Can I suggest features?
          .content
            Yes, of cause! Please send us your suggestion to #{mail_to 'support@owl-stars.com', 'support@owl-stars.com'}. We love suggestions!

        .box.expandBox
          %h3.title
            I found a bug. How can I tell you?
          .content
            Please send us a bug description to #{mail_to 'support@owl-stars.com', 'support@owl-stars.com'} and we will fix it as soon as possible.

        .box.expandBox
          %h3.title
            Who is behind Spriteowl
          .content
            Spriteowl and all other Owl-Star products are made by #{link_to 'We Just Do Stuff', 'html://www.wejustdostuff.com', :target => '_blank'}. Check us out!
